{{template "Public/header.html" .}}
<link rel="stylesheet" type="text/css" href="/public/css/calendar/jscal2.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/calendar/border-radius.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/calendar/calendar-blue.css"/>
<script type="text/javascript" src="/public/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/public/js/calendar/lang/en.js"></script>
<script language="javascript" src="/public/js/Sysmenu/sysmenu.js"></script>
<script>
$(document).ready(function() {
	Calendar.setup({
		weekNumbers : true,
		inputField : "start_time",
		trigger : "start_time",
		dateFormat : "%Y-%m-%d",
		showTime : true,
		minuteStep : 1,
		onSelect : function() {
			this.hide();
		}
	});

	Calendar.setup({
		weekNumbers : true,
		inputField : "end_time",
		trigger : "end_time",
		dateFormat : "%Y-%m-%d",
		showTime : true,
		minuteStep : 1,
		onSelect : function() {
			this.hide();
		}
	});
});

</script>
<body>
	<div class="subnav">
		<div class="content-menu ib-a blue line-x">
		<a class="add fb" href="javascript:;" onclick="update('添加菜单','add')">
				<em>{{msg . "sysmenu_add"}}</em>
			</a>
		</div>
	</div>

	<div class="pad-lr-10">
		<form method="post" action="" name="searchform">
			<table width="100%" cellspacing="0" class="search-form">
				{{$where := .where}}
				<tbody>
					<tr>
						<td>
							<div class="explain-col">
							操作时间：
							<input type="text" readonly="" class="date input-text" size="20"
							 value="{{$where.start_time}}" id="start_time" name="start_time"> - 
							<input type="text" readonly="" class="date input-text" size="20" 
							value="{{$where.start_time}}" id="end_time" name="end_time">
						<select name="type" id="type">
						<option {{if $where.type}}{{if eq $where.type "1"}}selected=""{{end}}{{end}} value="1">菜单名</option>
						<option {{if $where.type}}{{if eq $where.type "2"}}selected=""{{end}}{{end}} value="2">操作人</option>
						</select>
						<input type="text" class="input-text" value="{{$where.keyword}}" 
									id="keyword" name="keyword">
					<input type="button" value="搜索" class="button" onclick="Search()" name="search">
					<input type="button" onclick="Reset()" value="重置" class="button" name="reset">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>

		<form method="post" action="" name="myform">
			<div class="table-list">
				<table width="100%" cellspacing="0">
					<thead>
						<tr>
							<th align="left">菜单ID</th>
							<th align="left">中文名称</th>
							<th align="left">英文名称</th>
							<th align="left">最后操作者</th>
							<th align="left">最后操作时间</th>
							<th align="left">上一级菜单名称</th>
							<th align="left">备注</th>
							<th align="left">状态</th>
							<th align="left">操作</th>
						</tr>
					</thead>
					<tbody>
						{{if .menu_list}}
							{{range .menu_list}}
							<tr>
								<td align="left">{{.Id}}</td>
								<td align="left">{{.Cn_name}}</td>
								<td align="left">{{.En_name}}</td>
								<td align="left">{{.Opusername}}</td>
								<td align="left">{{format_time .Optime "2006-01-02 03:04:05"}}</td>
								<td align="left">{{.Pid}}</td>
								<td align="left">{{.Remark}}</td>
								<td align="left">{{.Status}}</td>
								<td align="left">
									<a href="javascript:edit({{.Id}})">修改</a>
								</td>
						    </tr>
						    {{end}}
					    {{end}}
					</tbody>
				</table>
				<div class="btn">
					<label for="check_box">{{msg . "select_all"}}</label> 
					<input type="button" onclick="confirm_delete()" value="{{msg . "delete"}}" 
						name="dosubmit" class="button">
					<input type="button" value="{{msg . "lock"}}" onclick="lock()"
						 name="dosubmit" class="button">
					<input type="button" value="{{msg . "unlock"}}" onclick="unlock()"
						 name="dosubmit" class="button">
					<input type="button" value="{{msg . "move"}}" onclick="show_move()"
						 name="dosubmit" class="button">
					<span style="display:none" id="show_move">
						<select name="groupid" id="groupid">
							{{range .group_list}}
								<option value="{{.Id}}">{{.Name}}</option>
							{{end}}
						</select>
						<input type="button" class="button" value="{{msg . "move_user_group"}}"
								onclick="move();" />
					</span>
				</div>
				<div id="pages">{{.pages}}</div>
			</div>
		</form>
	</div>
</body>

{{template "Public/footer.html" .}}
