{{template "Public/header.html" .}}
<link rel="stylesheet" type="text/css" href="/public/css/calendar/jscal2.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/calendar/border-radius.css"/>
<link rel="stylesheet" type="text/css" href="/public/css/calendar/calendar-blue.css"/>
<script type="text/javascript" src="/public/js/calendar/calendar.js"></script>
<script type="text/javascript" src="/public/js/calendar/lang/en.js"></script>
<script language="javascript" src="/public/js/Sysmenu/sysmenu.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	Calendar.setup({
		weekNumbers : true,
		inputField : "overduedate",
		trigger : "overduedate",
		dateFormat : "%Y-%m-%d %H:%M:%I",
		showTime : true,
		minuteStep : 1,
		onSelect : function() {
			this.hide();
		}
	});

	Calendar.setup({
		weekNumbers : true,
		inputField : "birthday",
		trigger : "birthday",
		dateFormat : "%Y-%m-%d",
		showTime : true,
		minuteStep : 1,
		onSelect : function() {
			this.hide();
		}
	});
});
</script>
<body>
	<div class="pad-10">
		<div class="common-form">
			<form id="myform" method="post" action="" name="myform">
				<label>中文名：</label><input type="text" id="cn_name" name="cn_name"><br />
				<label>英文名：</label><input type="text" id="en_name" name="en_name"><br />
				<label>备  注：</label><textarea id="remark" name="remark"></textarea><br />
			</form>
		</div>
	</div>
</body>

</html>
